{#
/**
 * @file
 * Default theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 *
 * @ingroup themeable
 */
#}
<header role="banner">
	{% if logo %}
		<a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
			<img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
		</a>
	{% endif %}

	{% if site_name or site_slogan %}
		{% if site_name %}
			<h1>
				<a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
			</h1>
		{% endif %}

		{% if site_slogan %}
			{# <div>{{ site_slogan }}</div> #}
		{% endif %}
	{% endif %}
</header>

<main role="main">
	{% if title %}
		<h1>{{ title }}</h1>
	{% endif %}

	{{ page.highlighted }}

	{{ page.content }}

	<p>The links below may be useful while the Library site is down for maintenance. </p>
	<ul>
  		<li><a href="https://search.lib.virginia.edu/">Search Virgo, the Library catalog</a></li>
  		<li>Online resources: 
		  	<ul>
	   		   	<li><a href="https://guides.lib.virginia.edu/az/databases">Databases A-Z</a></li>
	    		  	<li><a href="https://guides.lib.virginia.edu/journalfinder">JournalFinder</a></li>
	     	 		<li><a href="https://guides.lib.virginia.edu/">Subject guides</a></li>
	 	   	</ul>
		</li>
	  	<li><strong>Ask a Librarian: </strong>
  		<ul>
    			<li>Email <a href="mailto:library@virginia.edu?subject=Librarian Assistance" target="_top">library@virginia.edu</a></li>
   		 	<li>Call <a href="tel:+1-434-924-3021" target="_top">(434) 924-3021</a></li>
  		  	<li>Text <a href="sms:+1-434-260-5574" target="_top">(434) 260-5574</a></li>
 		   	<li><a href="https://guides.lib.virginia.edu/subjectlibrarians">Find a subject librarian</a></li>
    		</ul>
	  	</li>
	  	<li><a href="https://cal.lib.virginia.edu/hours">Library hours</a></li>
	</ul>
	<p>We appreciate your patience.</p>
</main>

{% if page.sidebar_first %}
	<aside role="complementary">
		{{ page.sidebar_first }}
	</aside>
{% endif %}

{% if page.sidebar_second %}
	<aside role="complementary">
		{{ page.sidebar_second }}
	</aside>
{% endif %}

{% if page.footer %}
	<footer role="contentinfo">
		{{ page.footer }}
	</footer>
{% endif %}
