{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{html_attributes}}>
	<head profile="http://www.w3.org/1999/xhtml/vocab"><!-- do this somehow in twig instead of hardcoded -> print $rdf->profile; -->
		<head-placeholder token="{{ placeholder_token }}">
		<title>{{ head_title|safe_join(' | ') }}</title>
		<css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
	</head>
	<body{{attributes.addClass(body_classes)}}>
					{#
            Keyboard navigation/accessibility link to main content section in page.html.twig.
					#}
					<a href="#main-content" class="visually-hidden focusable skip-link">
						{{ 'Skip to main content'|t }}
					</a>
					{{ page_top }}
					{{ page }}
					{{ page_bottom }}
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
          <js-placeholder token="{{ placeholder_token|raw }}">
          <js-bottom-placeholder token="{{ placeholder_token|raw }}">
	</body>
</html>

{#
<!--
  <link rel="stylesheet" href="<?php echo $GLOBALS['base_url']; ?>/sites/all/themes/global/css/font-awesome.min.css">
 <!--Acess Analytics Script -- >
  <script src="https://cdn.levelaccess.net/accessjs/YW1wX3V2YTExMDA/access.js" type="text/javascript"></script>
</head>
<body<?php print $attributes;?>>
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable"><?php print t('Skip to main content'); ?></a>
  </div>
  <?php print $page_top; ?>
  <?php print $page; ?>
  <?php print $page_bottom; ?>
  <script src="<?php echo $GLOBALS['base_url']; ?>/<?php echo drupal_get_path('theme',$GLOBALS['theme']); ?>/js/imagesloaded.pkgd.min.js"></script>
  <script src="<?php echo $GLOBALS['base_url']; ?>/<?php echo drupal_get_path('theme',$GLOBALS['theme']); ?>/js/masonry.pkgd.min.js"></script>
  <script src="<?php echo $GLOBALS['base_url']; ?>/<?php echo drupal_get_path('theme',$GLOBALS['theme']); ?>/js/script.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144746181-1"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -- >
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144746181-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-144746181-1');
</script>
</body>
</html>
-->
#}