<div class="layout-container">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  
  {% if page.banner_top %}
    <div class="layout-banner-top" role="banner">
      {{ page.banner_top }}
    <div>
  {% endif %}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="layout-content">
      {{ page.content }}

      {{ page.content_bottom }}
    </div>{# /.layout-content #}

  </main>

  {% if page.banner_bottom %}
    <div class="layout-banner-bottom" role="banner">
      {{ page.banner_bottom }}
    <div>
  {% endif %}
  
  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
