{#
  Customized page.html.twig
  Adds taxonomy CSS class to #main-container for 2025 Annual Report content type.
#}

{% if page.drupal_custom_header %}
	<div id="drupal_custom_header" class="w3-col w3-clear w3-theme-l5 {{ color_drupal_custom_header }}">
		<div id="drupal_custom_header-inner" class="w3-row drupal_custom_header-inner {{ website_width }}">
			{{ page.drupal_custom_header }}
		</div>
	</div>
{% endif %}

{% if page.primary_menu_vertical %}
	<div id="main-navigation-vTEST" class="main-navigation-vTEST-class hidden main-navigation-wrapper w3-sidebar w3-bar-block w3-animate-left w3-theme {{ color_primary_menu }}" role="dialog" aria-label="{{ 'Navigation (vertical)'|t }}">
		<div id="main-navigation-inner-v" class="mobile-nav-menu-2 main-navigation-inner-v">
			<div id="close-nav" role="button" tabindex="0" class="close-nav w3-button w3-bar-block w3-large w3-theme {{ color_primary_menu }}">
				<svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="butt" stroke-linejoin="bevel">
					<line x1="18" y1="6" x2="6" y2="18"></line>
					<line x1="6" y1="6" x2="18" y2="18"></line>
				</svg>
			</div>
			{{ page.primary_menu_vertical }}
		</div>
	</div>
{% endif %}

<div class="page-wrapper w3-col w3-clear w3-animate-opacity w3-text-theme {{ color_page_wrapper }}">
	{% if page.pre_header %}
		<div id="pre_header" class="w3-col w3-clear w3-theme-l5 {{ color_pre_header }}">
			<div id="pre_header-inner" class="w3-row pre_header-inner {{ website_width }}">
				{{ page.pre_header }}
			</div>
		</div>
	{% endif %}

	<header id="header" class="w3-col w3-clear w3-theme-l4 {{ sitename_animation }} {{ color_header }}" role="banner" aria-label="{{ 'Site header'|t }}">
		<div id="header-inner" class="w3-container header-inner {{ website_width }}">
			{% if page.primary_menu_vertical %}
				<button id="openmobilemenu" tabindex="0" class="open-mobile-menu" aria-label="open menu">
					<svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="butt" stroke-linejoin="bevel">
						<line x1="3" y1="12" x2="21" y2="12"></line>
						<line x1="3" y1="6" x2="21" y2="6"></line>
						<line x1="3" y1="18" x2="21" y2="18"></line>
					</svg>
				</button>
			{% endif %}
			{% if page.header %}
				{{ page.header }}
			{% endif %}
		</div>
	</header>

	{% if page.primary_menu %}
		<div id="main-navigation-h" class="w3-col w3-clear main-navigation-wrapper w3-theme {{ color_primary_menu }}" role="navigation" aria-label="{{ 'Main Navigation'|t }}">
			<div id="main-navigation-inner-h" class="w3-row main-navigation-inner-h {{ website_width }}">
				<div class="mobile-nav w3-hide-large w3-button w3-block w3-right-align w3-large w3-theme {{ color_primary_menu }}">
					<svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="butt" stroke-linejoin="bevel">
						<line x1="3" y1="12" x2="21" y2="12"></line>
						<line x1="3" y1="6" x2="21" y2="6"></line>
						<line x1="3" y1="18" x2="21" y2="18"></line>
					</svg>
				</div>
				{{ page.primary_menu }}
			</div>
		</div>
	{% endif %}

	{% if is_front and page.welcome_text %}
		<div id="welcome-text" class="w3-col w3-clear w3-theme-l5 {{ color_welcome_text }}">
			<div id="welcome-text-inner" class="w3-row welcome-text-inner {{ website_width }}">
				{{ page.welcome_text }}
			</div>
		</div>
	{% endif %}

	{% if page.highlighted %}
		<div id="highlighted" class="w3-col w3-clear w3-theme-l2 {{ color_highlighted }}">
			<div id="highlighted-inner" class="d8-fade w3-row highlighted-inner {{ website_width }}">
				{{ page.highlighted }}
			</div>
		</div>
	{% endif %}

	{% if is_front %}
		{% if page.top_first or page.top_second or page.top_third %}
			<div id="top-container" class="w3-col w3-clear w3-theme-l4 {{ color_top_container }}">
				<div id="top-container-inner" class="w3-row-padding top-container-inner {{ website_width }}">
					{% if page.top_first %}
						<div class="{{ top_w3css }} top-box {{ top_region ? 'top-region' }} first-top">
							<div class="d8-fade w3-mobile {{ border_animation ? 'animate-border' }} w3-theme-l5 {{ color_top_first }}">
								{{ page.top_first }}
							</div>
						</div>
					{% endif %}
					{% if page.top_second %}
						<div class="{{ top_w3css }} top-box {{ top_region ? 'top-region' }} second-top">
							<div class="d8-fade w3-mobile {{ border_animation ? 'animate-border' }} w3-theme-l5 {{ color_top_second }}">
								{{ page.top_second }}
							</div>
						</div>
					{% endif %}
					{% if page.top_third %}
						<div class="{{ top_w3css }} top-box {{ top_region ? 'top-region' }} third-top">
							<div class="d8-fade w3-mobile {{ border_animation ? 'animate-border' }} w3-theme-l5 {{ color_top_third }}">
								{{ page.top_third }}
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		{% endif %}
	{% endif %}

	{% if page.page_title and not is_front %}
		<div id="page-title" class="w3-col w3-clear w3-theme-d5 {{ pagetitle_animation }} {{ color_page_title }}">
			<div id="page-title-inner" class="d8-fade w3-row page-title-inner {{ website_width }}">
				{{ page.page_title }}
			</div>
		</div>
	{% endif %}

	{# Add dynamic class to main-container for Annual Report content type #}
	{% set main_classes = ['w3-col', 'w3-clear', 'w3-theme-l5', color_main] %}
	{% if node and node.bundle == '2025_annual_report' %}
		{% if node.field_ar_category.entity is not empty %}
			{# {% set css_class = node.field_ar_year.entity.field_css_class.value node.field_ar_page_type.entity.field_css_class.value node.field_ar_category.entity.field_css_class.value %} #}
			{% set css_class =
				(node.field_ar_year.entity.field_css_class.value|default('')) ~ ' ' ~
				(node.field_ar_page_type.entity.field_css_class.value|default('')) ~ ' ' ~
				(node.field_ar_category.entity.field_css_class.value|default(''))
			%}
			{% set main_classes = main_classes|merge([css_class]) %}
		{% endif %}
	{% endif %}

	<div id="main-container" class="{{ main_classes|join(' ') }}">
		<div id="main-container-inner" class="w3-row main-container-inner {{ website_width }}">
			{% if page.breadcrumb|render|striptags|trim %}
				<div class="w3-row w3-breadcrumb {{ color_breadcrumb }}">
					{{ page.breadcrumb }}
				</div>
			{% endif %}
			<div class="w3-col w3-clear w3-row-padding">
				{% if page.sidebar_first %}
					<div class="{{ sidebarfirst }} main-box {{ main_region ? 'main-region' }} first-sidebar" role="complementary">
						<div class="d8-fade w3-sidebar-first w3-mobile {{ color_sidebar_first }}">
							{{ page.sidebar_first }}
						</div>
					</div>
				{% endif %}
				{% if page.content %}
					<div id="main-content" class="{{ content_w3css }} main-box {{ main_region ? 'main-region' }} w3css-content" role="main">
						<div class="d8-fade w3-mobile {{ color_content }}">
							{{ page.content }}
						</div>
					</div>
				{% endif %}
				{% if page.sidebar_second %}
					<div class="{{ sidebarsecond }} main-box {{ main_region ? 'main-region' }} second-sidebar" role="complementary">
						<div class="d8-fade w3-sidebar-second w3-mobile {{ color_sidebar_second }}">
							{{ page.sidebar_second }}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<button onclick="topFunction()" id="scrollTop" title="Scroll to top">Top</button>

	<footer>
		<div class="footer--pre">{{ page.footer_first }}</div>
		<div class="footer--main">{{ page.footer_menu }}</div>
		<div class="footer--post">{{ page.footer_post }}</div>
	</footer>
</div>
